<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ProyectoSonidoSemana2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D4FE717B2007C4C50081094D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4FE718F2007C4C60081094D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4FE719A2007C4C60081094D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
